**/*.o
**/*.ads.stderr
**/*.ads.stdout
**/*.adb.stderr
**/*.adb.stdout
**/*.c.stderr
**/*.c.stdout
**/*.ads.rep
**/*.adb.rep
**/*.ali
**/*.ci
**/*.bexch
**/*.cswi
**/*.lexch
**/*.asm
**/*.hex
**/*.map
**/b__*.ads
**/b__*.adb
**/undefined.ciu
gnatinspect.db
obj/
lib/
alire/
